@page "/ImageUpload"
@inject HttpClient Http

<MudButton Class="ma-2" Variant="Variant.Filled" EndIcon="@Icons.Material.Outlined.Image" Color="Color.Primary" for="FileInputID" HtmlTag="label">Upload</MudButton>
<p>מגבלת נפח: 5MB</p>

<InputFile id="FileInputID" OnChange="UploadFile" hidden />

<img src="@myFileImage" width="150" />

<MudButton Class="ma-2" Variant="Variant.Filled" EndIcon="@Icons.Material.Outlined.Delete" Color="Color.Primary" @onclick="DeleteImage" HtmlTag="label">Delete</MudButton>

<p>@msg</p>


@code {
    string myFileImage;
    long maxFileSize = 4194304;
    string msg;
    List<string> DeletedImages = new List<string>();


    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                var saveResponse = await Http.PostAsJsonAsync("api/Items/upload", imageBase64);

                if (saveResponse.IsSuccessStatusCode == true)
                {
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    //myFileImage = resizeUrl;
                    Console.WriteLine(resizeUrl);
                }
            }
        }
    }
    private async Task DeleteImage()
    {
        DeletedImages.Add(myFileImage);
        var saveResponse = await Http.PostAsJsonAsync("api/Items/deleteImages", DeletedImages);

        if (saveResponse.IsSuccessStatusCode == true)
        {
            msg = "התמונה נמחקה בהצלחה";
            myFileImage = "";
        }
    }

}
