@page "/index"

<h1>Hello, world!</h1>

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="Game 1">
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
        </ul>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Game 2">
        Panel Two Content
    </MudExpansionPanel>
    <MudExpansionPanel Text="Game 3">
        Panel Three Content
    </MudExpansionPanel>
    <MudExpansionPanel Text="Game 4">
        Panel Four Content
    </MudExpansionPanel>
</MudExpansionPanels>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
