@page "/Game"

<NavBar isPageGame="currentPage" isPageEditor="notCurrentPage"></NavBar>


<main id="game">
    <iframe src="marshmellowmed.html" style="width: -webkit-fill-available" frameBorder="0" allowfullscreen="">Browser not compatible</iframe>
</main>

@code {

}
