@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

html {
    font-family: 'Assistant', sans-serif;
    background-color: inherit;
/*    color: black;
*/    height: inherit;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: inherit;
    /*    color: black;
*/ height: inherit;
}

#app {
    height: inherit;
}

.mud-rtl-provider.mud-application-layout-rtl {
    height: inherit;
}

.mud-layout {
    height: 100%;
    width: 100%;
    position: relative;
}

.mud-main-content {
    padding: 0px;
    height: inherit;
}

.edit-game > form {
            padding-bottom: 50px;
}

h1 {
}
h2 {
    color: white;
    font-size: 2.5em;
    margin-top: -20px;
}
h3{

}
h4{

}

h7 {
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    text-align: center;
}

.loading-gif {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: min-content;
    height: min-content;
    border-radius: 15px;
    margin-top:200px;
}


#loadingimg {
    margin: -150px;
}

.mud-button {
    font-size: 1.5em;
    font-family: 'Assistant';
    font-weight: 600;
    border-radius: 10px;
}

.mud-button-filled.mud-button-filled-primary:disabled {
    background: radial-gradient(#A0A0A0, #B9B9B9);
}

.mud-button-root:disabled .mud-button-label {
    color: white;
}

.mud-button-filled.mud-button-filled-primary {
    background: radial-gradient(#7575CD, #50529F);
    color: white;
}

.mud-button-filled.mud-button-filled-secondary {
    background: radial-gradient(#D3D4F3, #B0B2E8);
    color: #323366;
}

.mud-button-filled.mud-button-filled-tertiary {
    background: radial-gradient(#F9726F, #B43610);
    color: white;
}

#login-bg {
    background-image: url(../Images/background-img.jpg);
    background-position: center;
    background-size: cover;
    height: inherit;
}

#login-box {
    background-color: white;
    width: 600px;
    margin: 170px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 25%);
}
    #login-box .marsh-btn-primary {
        margin-top: 30px;
    }

    #login-box h2 {
        color: #323366;
    }

    #login-box .btns-section {
margin-top:20px;

    }

#games{
    padding:60px;
}

    #games h2 {
        margin-top: -30px;
        margin-bottom: 30px;
        display: inline-block;
    }

    #games .new-game {
        display: inline-block;
        width: 100%;
    }

    #games .new-game p {
        color: white;
    }

        #games .new-game form > p {
            display: inline-block;
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 25px;
        }

    #games .new-game .marsh-btn {
        margin: 25px;
        margin-top: 10px;
    }

        #games .new-game .mud-input-control.mud-input-input-control {
            display: inline-block;
            width: 280px;
            margin-top: 0px;
        }

    #games .new-game .mud-input-control-input-container {
        background-color: white;
        border-radius: 10px;
    }

        #games .new-game .mud-button {
            margin-right: 30px;
        }

    #games > .mud-button {
        float: left;
        margin-top: -20px;
    }

    #games .mud-button{
        display:inline-block;
    }

    #games .mud-table.cell {
        font-size: 1.2em;
    }

    #games .games-table {
        border-bottom-color: white;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        max-width: 1150px;
        margin:auto;
    }
/*
        #games .games-table .mud-tooltip {
            padding: 4px 8px;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.4em;
            border-radius: var(--mud-default-borderradius);
            z-index: var(--mud-zindex-tooltip);
            color: var(--mud-palette-dark-text);
            background-color: var(--mud-palette-grey-darker);
            max-width: 100px;
        }*/

.mud-table-sort-label:hover {
    color: #b0b1ff;
}
    .mud-table-root .mud-table-head .mud-table-cell {
    font-weight: 700;
    color: inherit;
    font-size: 1.3em;
    padding-left: 0px;
    padding-right: 0px;
}

.mud-table-root {
    color: inherit;
}

    .mud-table-root .mud-table-body .mud-table-cell {
        color: inherit;
        font-size: 1.3em;
        padding-left: 0px;
        padding-right: 0px;
    }

#games .mud-icon-button-color-primary {
    color: white;
}

section.edit-game {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    max-width: 1233px;
    margin: -15px auto;
}

.game-verifications {
    background: radial-gradient(#9494D5, #6769C9);
    border-radius: 10px;
    padding: 30px;
    color: white;
    text-align-last: justify;
    font-size: 1.2em;
}

    .game-verifications .GV {
        display: inline-block;
        vertical-align: middle;
        text-align-last: right;
    }

.GV .gvText {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.GV .mud-icon-root.mud-svg-icon.GVno {
    background: radial-gradient(#F9726F, #B43610);
    border-radius: 7px;
    padding: 3px;
    outline-style: solid;
    outline-width: thin;
}

.GV .mud-icon-root.mud-svg-icon.GVyes {
    background: radial-gradient(#7575cd, #50529F);
    border-radius: 7px;
    padding: 3px;
    outline-style: solid;
    outline-width: thin;
}

.game-verifications h3 {
    text-align-last: right;
}


html {
    background: radial-gradient(#5353A0, #323366);
    height: 100%;
}

.mud-input.mud-input-filled {

    border-radius: 10px;
/*    background-color:white;
*/}

.mud-table {
    background-color: inherit;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    font-size: 1.2em;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


header.edit-game {
    margin: 60px;
}
    header.edit-game .mud-icon-button {
        color: white;
        margin-bottom: 15px;
    }

    header.edit-game h2 {
        display: inline-block;
    }

    header.edit-game p.game-name {
        display: inline-block;
        color: white;
        font-size: 2.5em;
        margin-top: -20px;
        margin-right: 8px;
    }

    header.edit-game div.game-name {
        display: inline;
    }

    header.edit-game .game-name .mud-input-control {
        display: table-row;
        margin-right:20px;
    }

    header.edit-game .game-name .mud-input-control-input-container {
        background-color:none;
        margin-right: 10px;
    }

    header.edit-game .game-name input.mud-input-slot {
        font-size: 2.5em;
        height: 10px;
        color: white;
        width: 600px;
    }

    header.edit-game .game-name p {
        color: white;
    }

    header.edit-game .mud-button {
        display: inline-block;
        float: left;
    }

.gameCategory {
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #E4E4E4;
    border-radius: 15px;
    vertical-align: top;
    text-align: -webkit-center;
    margin-top: 30px;
}

    .gameCategory > header {
        background:linear-gradient(0.35turn,#7678CA, #B9B9E7, #7678CA);
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        text-align-last: justify;
    }

    .gameCategory > header > .mud-button{
        margin:5px;
        margin-top:0px;
        margin-bottom:0px;
    }

        .gameCategory > header .category-btns {
            display: inline-block;
        }

            .gameCategory > header .category-btns .mud-button {
margin-right:5px;
            }

            .gameCategory h3 {
                display: inline;
            }

    .gameCategory > .mud-button {
        margin: 20px;
    }

    .gameCategory > .mud-tooltip-root .mud-button {
        margin: 20px;
    }

    .gameCategory > p {
        max-inline-size: fit-content;
        margin: 30px;
    }

.singleItem {
    display: flex;
    height: 130px;
    width: 130px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.singleItem h4{
}

#categories-area {
    text-align: center;
}

#categories-area>.mud-button{
    margin:30px;
}

    #categories-area > .mud-tooltip-root > .mud-button {
        margin: 30px;
    }

    #categories-area > p {
        margin-top: 30px;
        font-size: 1.2em;
    }


.item-buttons {
    /* visibility: hidden; */
    display: inline-block;
    /* margin-bottom: -85px; */
    /* position: absolute; */
    transition-duration: 0.2s;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.item-buttons:hover{
/*    visibility:visible;
*/
opacity:1;

}

.item-overlay {
    transition-duration: 0.2s;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.item-overlay:hover {
    background-color: rgba(165,166,222,0.5);
}

.item-buttons .mud-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -90%;
}

.item-content {
    position: absolute;
    width: inherit;
}

    .item-content img {
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 100px;
    }

.mud-input-control-input-container{
    display:block;
}

.mud-dialog {
    width: 50%;
    height: max-content;
    border-radius: 10px;
    transition-duration: 0.5s;
    padding: 10px;
    min-width: fit-content;
}

    .mud-dialog .mud-dialog-title {
        align-self: center;
    }

    .mud-dialog .dialog-content {
        max-width: 400px;
        margin: auto;
    }

    .mud-dialog h6 {
        font-family: Assistant;
        font-size: 2em;
        font-weight: 700;
        color: #323366;
    }

    .mud-dialog .mud-input-control-input-container {
        background-color: #E4E4E4;
    }

    .mud-dialog .mud-typography-body1 {
        font-family: Assistant;
        font-size: 1.5em;
        font-weight: 600;
        color: black;
    }

/*.mud-input-control-input-container {
    background-color: white;
    border-radius: 10px;
}*/



.mud-radio {
    background: radial-gradient(#B9B9E7, #7678CA);
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
}

.mud-radio-icons {
    background-color: white;
    border-radius: 100%;
}

.mud-radio > .mud-radio-content {
    font-family: Assistant;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}

.radio-group {
    margin-bottom: 20px;
    text-align: center;
}

.btns-section {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mud-dialog form .btns-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btns-section .mud-button {
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.mud-button-outlined.mud-button-outlined-primary {
    color: #49498E;
    border: 3px solid #49498E;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mud-button-outlined.mud-button-outlined-primary:hover {
    color: #49498E;
    border: 3px solid #49498E;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pic-upload .btns-section {
    margin: 0;
    margin-top: 20px;
}
.pic-upload img {
    display: inline-block;
    vertical-align: middle;
}

    .pic-upload .mud-button {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 20px;
    }

.pic-upload .img-container {
    background-color: #E4E4E4;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    height: 260px;
    width: 260px;
}

    .pic-upload .img-container.preview {
/*        background-color: #E4E4E4;
        width: min-content;
        margin: auto;
        padding: 40px;
        border-radius: 15px;*/
    }
    .pic-upload .img-container > img {
        width: 180px;
        position: absolute;
        align-self: center;
    }

    .pic-upload .img-container.preview > img {
        height: auto;
        width: auto;
        align-self: center;
        max-height: 180px;
        max-width: 180px;
        margin: auto auto;
        position: relative;
    }

    .pic-upload .img-container .errorDiv {
        border: solid;
        border-color: red;
        height: 145%;
        width: 145%;
        z-index: 1;
        background: rgba(255, 209, 209, 0.6);
        border-radius: 15px;
        margin-top: -40px;
        margin-right: -40px;
        padding: 128px;
        padding-bottom: 0px;
    }

            .pic-upload .img-container .errorDiv .errorDivContent {
                text-align: center;
                color: #900000;
                text-shadow: 0 0 4px white;
                font-size: 1.5em;
                font-weight: 600;
                margin-right: -75px;
                margin-top: -36px;
                width: 145px;
            }
            /*CSS ישן*/
            @import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

            nav {
                background-image: linear-gradient(#2a2b60, #464689);
                padding: 10px;
                top: 0;
                left: 0;
                right: 0;
                box-shadow: 0px 5px 16px rgb(0 0 0 / 25%);
            }

    nav h1 {
        display: inline;
        font-family: 'Assistant';
        font-weight: 800;
        font-size: 1.5em;
        vertical-align: top;
        margin-right: 10px
    }

    nav #right {
        text-align: right;
        display: inline;
        padding-right: 50px;
    }

    nav #left {
        position: absolute;
        left: 60px;
        margin-top: 5px;
    }

    nav a {
        color: white;
        font-family: 'Assistant', sans-serif;
        font-size: 1.5em;
        padding-right: 25px;
        padding-left: 25px;
    }

    nav .currentPage {
        border-bottom: solid;
        border-color: white;
        padding-bottom: 19px;
        border-bottom-width: 2px;
    }

    nav .notCurrentPage {
        border-bottom: none;
    }


   #game main {
        width: 100%;
        height: 500px;
    }

   #game main iframe {
        width: 100%;
        height: 94%;
        position: absolute;
    }

main#game {
    height: 100%;
    max-height: 870px;
}

.aboutPopUpClosed {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.aboutPopUpOpen {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(37,34,76,0.6);
}

.aboutPopUpBox {
    background: linear-gradient( 0.25turn, #25224C, #383E87);
    margin: 0 auto;
    padding: 20px;
    width: 607px;
    border-radius: 55px;
    text-align: center;
    color: white;
    font-size: 16pt;
    margin-top: 200px;
    line-height: 1.4em;
    box-shadow: 0px 0px 30px white;
}

.aboutPopUpXclosed {
    width: 30px;
    height: 30px;
    position: relative;
    right: 366px;
    bottom: 206px;
    display: none;
}

.aboutPopUpXopen {
    display: block;
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-bottom: -30px;
}

.aboutH2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 35pt;
    font-weight: bold;
    color: #323366;
}

#aboutPopUpContent {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

    #aboutPopUpContent p {
        margin-bottom: 20px;
    }


    #aboutPopUpContent img {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px;
        display: inline-block;
        border-radius: 10px;
        width: fit-content;
    }

    #aboutPopUpContent a {
        text-decoration: underline;
        color: white;
    }

a {
    text-decoration: none;
    cursor: pointer;
}

#faculta img {
    width: 90%;
    vertical-align: middle;
}

.howPopUpClosed {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.howPopUpOpen {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(37,34,76,0.6);
}

.howPopUpBox {
    background: linear-gradient( 0.25turn, #25224C, #383E87);
    margin: 0 auto;
    padding: 20px;
    width: 650px;
    border-radius: 55px;
    text-align: center;
    color: white;
    font-size: 13pt;
    margin-top: 140px;
    line-height: 1.4em;
    box-shadow: 0px 0px 30px white;
}

.howPopUpXclosed {
    width: 30px;
    height: 30px;
    position: relative;
    right: 366px;
    bottom: 206px;
    display: none;
}

.howPopUpXopen {
    display: block;
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-bottom: -30px;
}

.howH2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 35pt;
    font-weight: bold;
}

.howPopUpContent {
    text-align: center;
    margin-bottom: 25px;
    color: #25224C;
    font-size: 1.3em;
}

    .howPopUpContent p {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .howPopUpContent a {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px;
        display: inline-block;
        border-radius: 70px;
        width: fit-content;
    }

.slideContent img {
    margin: auto;
    display: block;
}

.howPopUpContent > img {
    margin: 100px;
}

#howPopUpContent{
    width:700px;

}
.slideContent {
    display: block;
}

#TelemLink{
color: #50529F;
text-decoration: underline;
}
.headlineAbout {
    display: inline-block;
    margin: auto;
    margin-top: -10px;
}