@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    /*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
*/ font-family: 'Assistant', sans-serif;
    background-color: inherit;
/*    direction: rtl;
*/    /*    background-image: linear-gradient(to right, #28316E, #1D1937, #28316E);
*/  color: black;
}

h1{

}
h2 {
    color: white;
    font-size: 2.5em;
    margin-top: -20px;
}
h3{

}
h4{

}

.marsh-btn {
    font-size: 1.5em;
    font-family: 'Assistant';
    font-weight: 600;
}
.marsh-btn-primary {
    background: radial-gradient(#7575CD, #50529F);
    color: white;
}

.marsh-btn-light {
    background: radial-gradient(#D3D4F3, #B0B2E8);
    color: #323366;
}
.mud-button-filled.mud-button-filled-secondary {
    color: #323366;
}
.mud-button-filled.mud-button-filled-tertiary {
    background: radial-gradient(#F9726F, #B43610);
    color: white;
}

#login-box {
    background-color: white;
    width: 600px;
    margin: 170px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 25%);
}
    #login-box .marsh-btn-primary {
        margin-top: 30px;
    }

    #login-box h2 {
        color: #323366;
    }

.btns-section {
    text-align: center;
}

#games{
    padding:60px;
}

    #games h2 {
        margin-top: -30px;
        margin-bottom: 30px;
    }

#games .new-game{
/*    width:500px;
*/
}

    #games .new-game p {
        display: inline-block;
        color: white;
        font-size: 1.5em;
        vertical-align: super;
        margin-left: 25px;
    }
    #games .new-game .marsh-btn {
        margin: 25px;
        margin-top: 10px;
    }

    #games .new-game .mud-input-control.mud-input-input-control {
        display: inline-block;
        width: 280px;
    }

    #games .new-game .mud-input-control-input-container {
        background-color: white;
        border-radius: 10px;
    }

    #games .mud-table.cell {
        font-size: 1.2em;
    }
.mud-table-root .mud-table-head .mud-table-cell {
    font-weight: 700;
    color: inherit;
    font-size: 1.3em;
}

.mud-table-root {
    color: inherit;
}

    .mud-table-root .mud-table-body .mud-table-cell {
        color: inherit;
        font-size: 1.3em;
    }

#games .mud-icon-button-color-primary {
    color: white;
}

.edit-game {
    background-color: white;
    margin: 60px;
    border-radius: 20px;
}

.game-verifications {
    background: radial-gradient(#9494D5, #6769C9);
    border-radius: 10px;
    padding: 30px;
    color: white;
    text-align-last: justify;
    font-size: 1.2em;
}

    .game-verifications .GV {
        display: inline-block;
        vertical-align: middle;
    }

    .game-verifications h3 {
        text-align-last: right;
    }


    html {
        background: linear-gradient(45deg, #323366, #5353A0, #323366);
        height: 100%;
    }

.mud-input.mud-input-filled {

    border-radius: 10px;
/*    background-color:white;
*/}

.mud-table {
    background-color: inherit;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

#loadingimg{

}




    .gameCategory {
        display: inline-block;
        margin: 10px;
        text-align: center;
        background-color: gainsboro;
        border-radius: 15px;
        vertical-align: top;
        text-align: -webkit-center;
    }

        .gameCategory > header {
            background: radial-gradient(#B9B9E7, #7678CA);
            padding: 15px;
            text-align: center;
            border-radius: 15px;
        }

    .gameCategory > header > .mud-button{
        margin:5px;
        margin-top:0px;
        margin-bottom:0px;
    }

    .gameCategory h3{
    display:inline;
}

    .gameCategory > .mud-button {
        margin: 20px;
    }

    .gameCategory > p {
        max-inline-size: fit-content;
        margin: 30px;
    }

.singleItem {
    display: flex;
    height: 130px;
    width: 130px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.singleItem h4{
}

#categories-area {
    text-align: center;
}

#categories-area>.mud-button{
    margin:30px;
}

.item-buttons {
    /* visibility: hidden; */
    display: inline-block;
    /* margin-bottom: -85px; */
    /* position: absolute; */
    transition-duration: 0.2s;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.item-buttons:hover{
/*    visibility:visible;
*/
opacity:1;
}

    .item-buttons .mud-button {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: -90%;
    }

.item-content {
    position: absolute;
    width: inherit;
}

.mud-input-control-input-container{
    display:block;
}

.mud-dialog {
    width: 50%;
    height: max-content;
    border-radius: 10px;
    transition-duration: 0.5s;
}

    .mud-dialog h6 {
        font-family: Assistant;
        font-size: 2em;
        font-weight: 700;
        color: #323366;
    }

.mud-typography-body1 {
    font-family: Assistant;
}
/*CSS ישן*/
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

nav {
    background-image: linear-gradient(#28316E, #1D1937);
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

    nav h1 {
        display: inline;
        font-family: 'Assistant';
        font-weight: 800;
        font-size: 1.5em;
        vertical-align: top;
        margin-right: 10px
    }

    nav #right {
        text-align: right;
        display: inline;
        padding-right: 5px
    }

    nav #left {
        position: absolute;
        left: 0;
        margin-right: 5px;
        margin-top: 10px;
    }

    nav a {
        color: white;
        font-family: 'Assistant', sans-serif;
        font-size: large;
        padding-left: 20px;
    }

.mud-main-content{
    padding:0px;
}

main {
    width: 100%;
    height: 500px;
}

    main iframe {
        width: 100%;
        height: 94%;
        position: absolute;
    }

.aboutPopUpClosed {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.aboutPopUpOpen {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(37,34,76,0.6);
}

.aboutPopUpBox {
    background: linear-gradient( 0.25turn, #25224C, #383E87);
    margin: 0 auto;
    padding: 20px;
    width: 607px;
    border-radius: 55px;
    text-align: center;
    color: white;
    font-size: 16pt;
    margin-top: 200px;
    line-height: 1.4em;
    box-shadow: 0px 0px 30px white;
}

.aboutPopUpXclosed {
    width: 30px;
    height: 30px;
    position: relative;
    right: 366px;
    bottom: 206px;
    display: none;
}

.aboutPopUpXopen {
    display: block;
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-bottom: -30px;
}

.aboutH2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 35pt;
    font-weight: bold;
}

#aboutPopUpContent {
    margin-top: 20px;
}

    #aboutPopUpContent p {
        margin-bottom: 20px;
    }


    #aboutPopUpContent img {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px;
        display: inline-block;
        border-radius: 70px;
        width: fit-content;
    }

    #aboutPopUpContent a {
        text-decoration: underline;
        color: white;
    }

a {
    text-decoration: none;
    cursor: pointer;
}

#faculta img {
    width: 90%;
    vertical-align: middle;
}

.howPopUpClosed {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.howPopUpOpen {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(37,34,76,0.6);
}

.howPopUpBox {
    background: linear-gradient( 0.25turn, #25224C, #383E87);
    margin: 0 auto;
    padding: 20px;
    width: 650px;
    border-radius: 55px;
    text-align: center;
    color: white;
    font-size: 13pt;
    margin-top: 140px;
    line-height: 1.4em;
    box-shadow: 0px 0px 30px white;
}

.howPopUpXclosed {
    width: 30px;
    height: 30px;
    position: relative;
    right: 366px;
    bottom: 206px;
    display: none;
}

.howPopUpXopen {
    display: block;
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-bottom: -30px;
}

.howH2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 35pt;
    font-weight: bold;
}

#howPopUpContent {
    margin-top: 20px;
}

    #howPopUpContent p {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #howPopUpContent a {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px;
        display: inline-block;
        border-radius: 70px;
        width: fit-content;
    }

    #howPopUpContent table {
        text-align: right;
    }

        #howPopUpContent table tr {
        }

            #howPopUpContent table tr td {
                padding-right: 13px;
                vertical-align: middle;
            }

            #howPopUpContent table tr th {
                padding-right: 13px;
                vertical-align: middle;
                text-align: center;
            }

    #howPopUpContent > img {
        margin: 5px;
    }