
<div class="headlineAbout">
    <h2 class="aboutH2">אודות</h2>
    <img src="Images/logoForWhiteBg.png" width="200"/>
</div>
<div id="aboutPopUpContent">
    <h3>אפיון ופיתוח</h3>
    <p>נקטר שביט, אלה שרתיאל ורוני אבן עזרא</p>
    <h3>אופיין ופותח במסגרת פרויקט בקורסים</h3>
    <p>סביבות לימוד אינטראקטיביות + תכנות אינטראקטיבי </p>

    <a href="https://www.hit.ac.il/telem/overview" >
        <h3 id="TelemLink">תשפ"ב - הפקולטה לטכנולוגיות למידה</h3>
    </a>

    <img id="faculta" src="images/HITlogo.png" alt="">
</div>

@code {

}
