<MudDialog>
    <DialogContent>
        @*<MudText>@ContentText</MudText>*@
        <MudForm>
            <MudRadioGroup @bind-SelectedOption="@SelectedOption">
                <MudRadio Option="true" Color="Color.Primary">טקסט</MudRadio>
                <MudRadio Option="false" Color="Color.Secondary">תמונה</MudRadio>
            </MudRadioGroup>
            @if (SelectedOption == true)
            {
                <p>בחרתם טקסט</p>
            }
            else
            {
                <p>בחרתם תמונה</p>
            }
        </MudForm>
            <MudText Class="ml-4">Selected Option: @SelectedOption</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">ביטול</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">שמירה</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public int CodeOfSomething { get; set; }

    //[Parameter] public string ContentText { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();

    public bool SelectedOption { get; set; } = true;

}