@inject NavigationManager nav
@inject HttpClient Http

<MudDialog>
    <DialogContent>
        <MudText>
            @Content
        </MudText>
    </DialogContent>
    <DialogActions>
        <section class="btns-section">
            <MudButton Color="Color.Primary" OnClick="Submit">@btnTXT</MudButton>
        </section>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Content { get; set; }

    string btnTXT="אישור";

    protected override void OnInitialized()
    {
        if (Content == "אין משתמש מחובר" || Content == "המשתמש הרצוי אינו מחובר")
        {
            btnTXT = "התחברות";
        }
    }

    void Submit()
    {
        if (Content== "אין משתמש מחובר"|| Content == "המשתמש הרצוי אינו מחובר")
        {
            nav.NavigateTo("./");
        }
        MudDialog.Close(DialogResult.Ok(true));
    }


}