<div id="howPopUpContent">
    <MudCarousel Class="mud-width-full" Style="height:470px" ShowArrows="true" ShowBullets="true" AutoCycle="false" TData="object">
        <MudCarouselItem Transition="transition">
            <div class="slideContent" style="height:100%">
                <div class="howPopUpContent">
                    יש ללחוץ על השיפוד המתאים על מנת למיין את המרשמלו לקטגוריה הנכונה.
                    <br />אם המרשמלו תואם לקטגוריה הוא יצלה במידה הנכונה ויתווסף לשיפוד.
                </div>

                <img src="Images/win.gif" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="slideContent">
                <div class="howPopUpContent">
                    אם המרשמלו לא מתאים לקטגוריה הוא ישרף ויחזור שוב בהמשך.
                </div>
                <img src="Images/loose.gif" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="slideContent" style="height:100%">
                <div class="howPopUpContent">
                    ניתן לשנות את מהירות תנועת המרשמלו בכל זמן נתון במהלך המשחק.<br />
                    ניתן לעצור ולהגדיל את המרשמלו באמצעות מעבר עכבר.
                </div>
                <img src="Images/mouseAndSpeed.gif" />
            </div>
        </MudCarouselItem>
    </MudCarousel>
</div>

@code {
    private Transition transition = Transition.Slide;
}
