<h2 class="howH2">איך משחקים?</h2>
<div id="howPopUpContent">
    <table>
        <tr><th><img src="images/marshmoveicon.png" /></th><td>בכל סיבוב, תוצג בפניכם שאלה על גבי מרשמלו שינוע מצד לצד.</td></tr>
        <tr><th><img src="images/marshzoom.png" /></th><td>מעבר עכבר על המרשמלו יעצור ויגדיל אותו לצורך עיון בתוכן.</td></tr>
        <tr><th><img src="images/smoreicon.png" /></th><td>לחצו על השיפוד הנכון כדי למיין את המרשמלו לקטגוריה המתאימה.</td></tr>
        <tr><th><img src="images/losemarshicon.png" /></th><td>אם תטעו, המרשמלו ישרף ויעלם, והשאלה תחזור שוב בהמשך.</td></tr>
        <tr><th><img src="images/winmarshicon.png" /></th><td>אם תמיינו נכון, המרשמלו יצלה ויזהיב, ויתווסף לשיפוד המתאים.</td></tr>
        <tr><th><img src="images/btns.png" /></th><td>בעזרת הכפתורים בפינה תוכלו לשלוט בסאונד, בהשהייה, ובמהירות בהתאמה.</td></tr>
    </table>
    <p>המשחק יסתיים לאחר שכל המרשמלואים יאספו וימלאו את מד ההתקדמות.</p>
    <p><b>בהצלחה!</b></p>
</div>

@code {

}
