@inject NavigationManager nav
@inject IDialogService DialogService

<nav>
    <div id="right">
        <img id="logo" src="images/logo.png" />
    </div>
    <span id="left">
        <span Class="@isPageGame">
            <a @onclick="play">משחק</a>
        </span>
        <a id="howToPlay" @onclick="openHow">איך משחקים?</a>
        <span Class="@isPageEditor">
            <a @onclick="editor">עורך</a>
        </span>
            <a id="about" @onclick="openAbout">אודות</a>
        </span>
</nav>

@code {

    [Parameter]
    public string isPageGame { get; set; }

    [Parameter]
    public string isPageEditor { get; set; }

    void openHow()
    {
        var options = new DialogOptions() { CloseButton = true };
        DialogService.Show<HowToPlay>("איך משחקים?", options);
    }

    void openAbout()
    {
        var options = new DialogOptions() { CloseButton = true };
        DialogService.Show<About>("", options);
    }

    void play()
    {
        nav.NavigateTo("./Game");
    }

    void editor()
    {
        nav.NavigateTo("./");
    }

}
